* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.card-body img {
  width: 100%;
}
.card-title {
  font-size: 20px;
}
